:root {
  --description-entry-gap: 21px;
  --contact-entry-margin-bottom: 35px;
  --edit-entry-gap: 30px;
}

.contact-area-top button {
  font-size: 18px;
  padding: 5px 20px 3px;
  /* margin-top: 3px;
  padding: 6px 20px; */
}

.button-span {
  margin: 0 10px;
}

.avatar-div-row {
  /* background-color: cadetblue; */
  display: flex;
  min-width: 201px;
  min-height: 201px;
}

.avatar-div-col {
  margin: auto 35px auto auto;
}

.name-div {
  /* background-color: aquamarine; */
  margin: auto 0;
  white-space: nowrap;
}

.contact-entry-description {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
  text-align: end;
  min-width: 200px;
  max-width: 200px;
}

.contact-entry-description * {
  /* background-color: bisque; */
  margin: 0 var(--description-entry-gap) var(--contact-entry-margin-bottom);
}

.contact-entry {
  /* background-color: coral; */
  margin: 0 0 var(--contact-entry-margin-bottom) 0;
  min-width: 400px;
  max-width: 800px;
}

.contact-entry a {
  text-decoration: none;
  color: unset;
}

.contact-entry a:hover {
  color: #1e88e5; /* mui blue 600 */
}

.contact-entry a:active {
  color: #1565c0; /* mui blue 800 */
}

.contact-area {
  /* background-color: gold; */
  flex-grow: 1;
}

.users-area {
  /* background-color: aqua; */
  justify-self: flex-end;
}

.contact-edit-row {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: left;
}

.contact-edit-row > div,
.contact-edit-row > * {
  margin: var(--edit-entry-gap) 0 0 var(--edit-entry-gap)
}

.contact-edit-row input {
  width: 222px
}

.date-div input {
  width: 186px;
}

.notes-div {
  width: calc(500px + var(--edit-entry-gap) * 2);
  margin: 0 var(--edit-entry-gap) var(--edit-entry-gap) 0;
}

.chip-span {
  display: inline-block;
  margin: 0 10px 10px 0
}